<div class="bridegroom-image" align="center">
	<%= image_tag @image_url, :class => 'customer-image', :alt => 'customer image', :height => "100" %>
</div>

<p class="summary"><strong>These are the gifts the happy couple would love to have!</strong></p>

<p>You can purchase any of these items by clicking on the 'Purchase' button or by dragging the gift from the list below over to the present box on the right hand side.</p>

<%= render :partial => "bridegroom_giftlist" %>
