<h2>Help I've Forgotten My Password</h2>
<% form_tag url_for(:action => 'create') do %>

	Please enter the email address used when you create your account<br />
  <%= text_field_tag :email, "", :size => 50 %><br />
  
	<%= submit_tag 'Reset Password' %>

<% end %>