<h2>Account Creation Confirmation<h2>

<p>For some of the functionality on <%= link_to 'www.SavvyShopper.com', root_url %>, users needs to provide an email address and we automatically send a confirmation message to that address. Unfortunately, in their haste, users often misspell their addresses, and the confirmation message is sent to the misspelled address instead of the user's intended address.</p>

<p>Please note that the confirmation message is not an indication that your particular email account has been compromised in any way. If you receive a confirmation message - or any other message - from SavvyShopper regarding an account that you did not create, we recommend contacting us <%= mail_to '<a href="mailto:talk2us@savvyshopper.com">talk2us@savvyshopper.com</a>', "SavvyShopper.com" %> to let us know.</p>
