<% if cart_item == @current_item %>
	<tr id="current_item">
<% else %>
	<tr id="<%= "cart_row_#{cart_item.product.id.to_s}" %>">
<% end %>
	<td><%= cart_item.quantity %>&times;</td>
	<td><%= truncate(cart_item.name, 25) %></td>
	<td class="item-price"><%= number_to_pound(cart_item.price) %></td>
	<td><%= remove_item_link2("x", cart_item.product.id) %></td>
	<td><%#= remove_item_link3("x2", cart_item.product.id, "cart-row-#{cart_item.product.id.to_s}") %></td>
</tr>