<img src= "<%= @product.image_url %>" align="middle" alt="product_image" width="100px" height="100px" /><br/>
<b>Name:</b> <%= @product.name %><br/>
<b>Category:</b> <%= @product.category %><br/>
<b>Our Reference:</b> <%= @product.reference %><br/>
<b>Description:</b> <%= @product.description %><br/>
<b>Product Price:</b> <%= number_to_pound(@product.price) %><br/>
<br/>
<div id="back-button" ><%= button_to 'Back', :action => 'index' %> </div>